{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-6">
        <h1>Somos tu mejor opción, te garantizamos un futuro prometedor</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nam voluptatem aut! Iusto deserunt porro cupiditate harum provident, dicta, unde eligendi, omnis itaque ratione veniam? Voluptates cupiditate quisquam rem similique.</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/fogata.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}}